@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');

*{
    user-select: none;
    text-decoration: none;
    margin: 0px;
    padding: 0px;}

body{
    background: linear-gradient(45deg, #4d4d4d81, #A5A6A5);
    background-attachment: fixed;
    font: 16px 'Manrope', sans-serif;}


ul{
    list-style: none;
    display: block;
    gap: 15px;
    padding: 0px;}

nav{
    background-color: #33333369;
    width: auto;
    height: auto;
    margin-left: 5px;
    border-radius: 10px;
    position: absolute;
    z-index:2;
    outline: none;
    transition: all 1s;}

            /* GERAL CALCULADORA */
#calculadora_geral{
    width: auto;
    height: auto;
    margin: auto;
    display: block;
    position: relative;
    transform: translateY(35%);
    z-index:1;}

            /* Resultado */
#result{
    color: white;
    display: block;
    text-align: end;
    margin: auto;
    width: 685px;
    padding-top: 15px;
    font-size: 40px;
    font-weight: 600;}
#resultadodiv{
    height: 45px;
    margin-right:25px;
    margin-bottom: 15px;
    padding-top: 7px;}

            /* Footer */
#footer{
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 200px;
    height: 23px;
    width: 65px;
    background-color: #26262650;
    backdrop-filter: blur(2px);
    border: 1px solid rgba(185, 185, 185, 0.678);
    border-radius: 16px;
    box-shadow: 2px 2px 15px #26262662;}
#id{
    font-family: 'Manrope', sans-seriff;
    font-weight: 600;
    color: rgb(59, 58, 131);
    text-decoration: none;}
#id:visited{
    color: rgb(71, 224, 212);
    text-decoration: none;}

            /* BOTÕES */
#divsbotoes{
    display: inline-flex;
    position: relative;
    margin-top: 12px;
    width: 685px;
    right: 50%;
    left: 50%;
    transform: translateX(-50%);}
.botoes{
    background-color: none;
    position: relative;
    width: 60px;
    height: 50px;
    margin-top: 3px;
    margin-right: 5px;
    left: 15px;
    border-radius: 43%;
    border: 0;              /* Deixar sem borda */
    outline: none;     /* Para tirar o contorno ao selecionar */
    cursor: pointer;}          
#botao_zero{
    width: 128px;
    height: 50px;
    padding-left: 25px;     
    border-radius: 18px;    
    text-align: left;}

.btn-preto{
    background-color: #212121;
    color: white;
    font-size: 12px;
    font-weight: 105%;}
.btn-branco{
    background-color: #A5A6A5;
    color: black;
    font-weight: bold;
    font-size: 15px;}
.btn-cinza{
    background-color: #333333;
    color: white;
    font-size: 105%;
    font-weight: normal;}
.btn-laranja{
    background-color: #FF9F0A;
    color: white;
    font-size: 18px;}

            /* IMAGEM */
#imgEscolhida{
    position: absolute;
    background-size: 100% 100%;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;}

            /* Alteração de Modo */
@media (max-width: 850px){
/* Só vai ativar quando o width estiver menor de 850px */
    #calculadora{
        width: 400px;
        height: 800px;}
    #calculadora_geral{
        transform: none;}

    #divsbotoes{
        width: auto;
        padding-left: 20px;}
    .botoes{
        width: 75px;
        height: 75px;
        border-radius: 100%;
        margin-bottom: 5px;
        margin-left: 5px;
        font-size: 22px;}
    #botao_zero{
        height: 75px;
        width: 157px;
        border-radius: 30px;
        margin-right: 10px;
        padding-left: 30px;}
  
    #cientifica{
        display: none;}
    #normal{
        display: block;
        position: relative;
        width: 350px;
        padding: 0px;
        margin: 0px;
        transform: translateX(-24px);}

    #resultadodiv{
        width: 400px;
        height: 50px;
        padding-top: 210px;
        padding-bottom: 15px;
        margin-right: 0px;}
    #result{
        width: 300px;
        font-size: 50px;
        font-weight: 200;
        font-size: 60px;
        overflow: hidden;
        margin-right: 45px;}

    #footer{
        margin-top: 20px;}}

    #divSobre{
        display: none;
    }
    #divContato{
        display: none;
    }
    #popupSobre{
        display: none;
    }

            /* Pop-Up Contato */
#divContato{
    height: 450px;
    width: 450px;
    position: fixed;
    margin: auto;
    display: none;
    background-color: rgba(255, 255, 255, 0.952);
    z-index: 2;
    transform: translateY(40px);
    left: calc(-50vw + 50%);
    right: calc(-50vw + 50%);
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;}

#divContato header{
    display: flex;
    justify-content: space-between;
    margin: 10px;}

#divContato header img{
    width: 30px;
    height: 30px;
    margin-top: 5px;
    margin-right: 5px;}
    
#contatoLinks{
    padding-top: 25px;
    display: block;
}
#contatoLinks ul li{
    display: flex;
    transform: translateX(165px);
    width: fit-content;
    padding-bottom: 20px;
}
.icon{
    width: 35px;
    height: 35px;
    padding-right: 15px;
    padding-top: -15px;
}
span.nome{
    position: absolute;
    display: inline;
    padding-top: 7px;
    padding-left: 10px;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
}
            /* Sobre este Projeto PopUp */
#popupSobre{
    height: 450px;
    width: 450px;
    position: fixed;
    margin: auto;
    display: none;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.952);
    z-index: 2;
    transform: translateY(40px);
    left: calc(-50vw + 50%);
    right: calc(-50vw + 50%);
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;}

#popupSobre header{
    display: flex;
    justify-content: space-between;
    margin: 10px;}

#popupSobre header img{
    width: 30px;
    height: 30px;
    margin-top: 5px;
    margin-right: 5px;}

            /* Sobre este Projeto */
#divSobre{
    display: none;
    position: fixed;
    margin: auto;
    z-index: 2;
    width: 500px;
    transform: translateY(580px);
    left: calc(-50vw + 50%);
    right: calc(-50vw + 50%);
}

#divSobre header{
    justify-content: space-between;
    margin: 10px;
}
#divSobre header img{
    width: 30px;
    height: 30px;}
#divSobre p{
    text-align: justify;
    text-indent: 25px;
}

            /* Navegação MENU */
#checking{
    display: none;}
#checking:checked ~ nav{ /* o '~' significa gerar um evento */
    transform: translateX(-250px);}

nav a {
    display: flex;
    padding: 10px 15px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 600;
    text-shadow: 1px 1px 7px silver;}

nav a:hover{
    background-color: #bbbbbb69;
    border-radius: 10px;}

#openMenu{
display: block;
cursor: pointer;
background-color: silver;
width: fit-content;
padding: 5px 5px;
border-radius: 10px;
margin-top: 0px;
padding-top: 15px;
transform: translate3d(5px, -15px, 0);}

 