@charset "UTF-8"; /* Isso é uma regra (de Acentuação no caso)*/

body {
    background-color: rgb(197, 201, 209);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
h1 {
    background-color: rgba(190, 188, 179, 0.411);
    color: darkred;
    font: 1em ;
}
h2 {
    color: rgb(252, 125, 125);
}
p {
    text-align: justify;

}