@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');

* {
    user-select: none;
  }
body{
    background: linear-gradient(45deg, #4d4d4d81, #A5A6A5);
    background-attachment: fixed;
    font: 16px 'Manrope', sans-serif;
}
h1{
    font: 16px 'Manrope', sans-serif;
    margin-left: 10px;
}
            /* GERAL BACKGROUND */
#calculadora_geral{
    background-size: 100% 100%;
    width: 700px;
    height: 340px;
    margin: auto;
    text-align: center; 
}
            /* Display Resultado */
#result{
    color: white;
    display: inline-block;
    text-align: end;
    margin-right: 65px;
    padding-top: 15px;
    font-size: 40px;
    font-weight: 600;
}
#resultadodiv{
    height: 45px;
    margin: auto;
    margin-bottom: 5px;
}

#parteNestatica{
    margin-left: 110px;
}
            /* Footer */
#footer{
    margin: auto;
    margin-top: 15px;
    height: 23px;
    width: 63px;
    padding-left: 3px;
    background-color: #26262644;
    backdrop-filter: blur( 9.0px ); /* Blur Glass-Morphism */
    border: 1px solid rgba(185, 185, 185, 0.678);
    border-radius: 16px;
    box-shadow: 2px 2px 15px #26262662;
}
#id{
    font-family: 'Manrope', sans-seriff;
    font-weight: 600;
    color: rgb(59, 58, 131);
    text-decoration: none;
}
#id:visited{
    color: rgb(71, 224, 212);
    text-decoration: none;
}
            /* BOTÕES */
#divsbotoes{
    display: inline-flex;
    margin-top: 12px;
    width: 700px;
}
.botoes{
    background-color: none;
    position: relative;
    text-align: center;
    width: 55px;
    height: 45px;
    border-radius: 43%;
    border: 0;              /* Deixar sem borda */
    outline: none;          /* Para tirar o contorno ao selecionar */
    margin-top: 3px;
    margin-right: 5px; 
}

#cientifica{
    width: auto;
}
#normal{
    width: auto;
}

#botao_zero{
    width: 120px;
    height: 45px;
    padding-left: 20px;     /* Alinhar o 0 */
    border-radius: 18px;    /* Para o formato de pilula*/
    text-align: left;       /* Fixar a esquerda */
}
.btn-preto{
    background-color: #212121;
    color: white;
    font-size: 12px;
    font-weight: 105%;
}
.btn-branco{
    background-color: #A5A6A5;
    color: black;
    font-weight: bold;
    font-size: 15px;
}
.btn-cinza{
    background-color: #333333;
    color: white;
    font-size: 105%;
    font-weight: normal;
}
.btn-laranja{
    background-color: #FF9F0A;
    color: white;
    font-size: 18px;
}

/* IMAGEM */
#imgEscolhida{
    position: absolute;
    background-size: 100% 100%;
    display: block;
}