@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');

* {
    box-sizing: border-box;
    user-select: none;
  }
body{
    background: linear-gradient(45deg, #4d4d4d81, #A5A6A5);
    background-attachment: fixed;
    font: 16px 'Manrope', sans-serif;
}
h1{
    font: 16px 'Manrope', sans-serif;
    margin-left: 10px;
}
            /* GERAL BACKGROUND */
#calculadora_geral{
    width: 700px;
    height: 340px;
    position: center;
    background-size: 100% 100%;
    margin: auto;
    text-align: center; 
}
            /* Display Resultado */
#result{
    color: white;
    text-align: end;
    margin-right: 65px;
    margin-bottom: 0px;
    padding-top: 15px;
}
#resultadodiv{
    height: 45px;
    margin: auto;
}
body > div > div > p{
    display: inline-block;

    font-size: 35px;
    font-weight: 600;
    text-align: end;
}
            /* BOTÕES */
#divsbotoes{
    display: inline-flex;
    margin-top: 12px;
}
.botoes{
    background-color: none;
    position: relative;
    text-align: center;
    width: 52px;
    height: 45px;
    border-radius: 43%;
    border: 0;              /* Deixar sem borda */
    outline: none;          /* Para tirar o contorno ao selecionar */
    margin-top: 3px;
    margin-right: 5px; 
}
#botao_zero{
    width: 110px;
    height: 45px;
    padding-left: 20px;     /* Alinhar o 0 */
    border-radius: 18px;    /* Para o formato de pilula*/
    text-align: left;       /* Fixar a esquerda */
}
.linha1{
    display: inline;
}
.linha2{
    display: inline;
}
.linha3{
    display: inline;
}
.linha4{
    display: inline;
}
.linha5{
    display: inline;
}
.btn-preto{
    background-color: #212121;
    color: white;
    font-size: 12px;
    font-weight: 105%;
}
.btn-branco{
    background-color: #A5A6A5;
    font-weight: bold;
}
.btn-cinza{
    background-color: #333333;
    color: white;
    font-size: 105%;
    font-weight: normal;
}
.btn-laranja{
    background-color: #FF9F0A;
    color: white;
}
.separa{
    margin-left: 3px;
}
.esquerda{
    margin-left: 18px;
}